{% extends 'inscri/base.html' %}

{% block content %}
<br><br><br>
<div class="row ">
<form class="d-flex justify-content-center">

    <p class="text-center" style="text-align:center">Connexion</p>

    <div class="col-lg-3 mb-5" style="float:center">
    <div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Email address</label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Password</label>
    <br>
    <button type="button" class="btn btn-primary" style="float:right">Connecter</button>
</div>
</div></form></div>


{% endblock %}